<section>
    <div class="texts">
        <h1>
            API de e-mail por desenvolvedores, para desenvolvedores
        </h1>

        <p>Integre em minutos com nossa API de e-mail
            e veja seus e-mails chegarem à caixa de entrada</p>

        <div class="buttons">
            <app-button-start-home-page [props]="{ text: 'Aprenda Mais', disabled: false }" />
            <app-button-see-plans-home-page [props]="{ text: 'Faça um tour', disabled: false }" />
        </div>
    </div>
    <img src="../../../../assets/images/landing page/dev.svg" alt="Dev Image">
</section>