<div class="login-container">
  <form class="form-container" [formGroup]="forgotPasswordForm">
    <img src="assets/images/logo.svg" alt="Logo" class="logo" />
    <h2>
      <span style="margin-right: 10px" class="title-first-part">Recuperar</span>
      <span class="title-second-part">Senha</span>
    </h2>
    <p>Digite seu email cadastrado na plataforma</p>
    <div class="input-container">
      <div class="form-group">
        <app-input-login [props]="{
              type: 'email',
              placeholder: 'Digite seu email',
              id: 'email',
              name: 'email',
              inputName: 'email',
              class: 'input',
              required: true,
              value: '',
            }" formControlName="email" />
      </div>
      <app-button (submit)="submit()" [props]="{ text: 'Próximo', class: 'button' }"></app-button>
    </div>
  </form>
</div>