<ng-template #buttonTemplate>
    <button class="btn-side-bar" type="button" (click)="onClick()">
      <img class="img" *ngIf="!sideBarOpen" src="../../../../../assets/shared/Menu.svg" />
      <img class="img" *ngIf="sideBarOpen" src="../../../../../assets/shared/BackTo.svg" />
    </button>
  </ng-template>
  
  <div [ngStyle]="{'display': sideBarOpen ? 'block' : 'none'}" style="width: 100%; display: flex; flex-direction: row;">
      <div style="width: 90%; margin-left: auto;">
        <app-header-home id="app-header"></app-header-home>
      </div>
  </div>
    
  <div [ngStyle]="{'display': !sideBarOpen ? 'block' : 'none'}" style="display: flex; width: 100%; flex-direction: row;">
      <div style="width: 100%;">
        <app-header-home id="app-header"></app-header-home>
      </div>
  </div>
  <app-side-bar id="app-side-bar" [buttonTemplate]="buttonTemplate" [isSidebarOpen]="sideBarOpen"></app-side-bar>

<div  [ngClass]="{'navbar-expanded': sideBarOpen}" class="container">
    <div>
        <h2 class="title">Meu Perfil</h2>
        <app-my-profile></app-my-profile>
    </div>
    <div>
        <h2 class="title">Zona de Perigo</h2>
        <app-danger-zone></app-danger-zone>
    </div>
</div>