<mat-dialog-content class="mat-typography">

    <button class="close-button" mat-dialog-close>
      <img src="../../../../assets/images/shared/close.svg" alt="close-button">
    </button>
  
    <form class="form-group" [formGroup]="keyForm">
      <h2>Atualizar Key</h2>
  
      <div class="input-container">
        <label for="Nome">Nome</label>
        <input formControlName="keyName" type="text" class="form-control" id="name" required>
      </div>
  
      <div class="buttons-container">
          <div class="button-container">
            <button class="register-button" (click)="submit()">Registrar</button>
          </div>
          <div class="button-container">
            <button class="cancel-button" mat-dialog-close>Cancelar</button>
          </div>
      </div>
  
    </form>
  </mat-dialog-content>