<mat-dialog-content class="mat-typography">
    <form action="">
        <div class="form-group">
            <label for="Mudar Dados">Mudar dados</label>
            <input type="text" class="form-control" id="firstName" placeholder="Nome" required>
            <input type="text" class="form-control" placeholder="Telefone">
            <input type="password" class="form-control" placeholder="Senha">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
        </div>
    </form>
</mat-dialog-content>
