<mat-dialog-content class="mat-typography">
    
    <button class="close-button" mat-dialog-close>
        <img src="../../../../assets/images/shared/close.svg" alt="close-button">
    </button>
    
        <form class="form-group" [formGroup]="userForm">
            <h2>Mudar Dados</h2>

            <div class="input-container">
                <label for="Digitar Nome">Digitar o nome</label>
                <input formControlName="name" type="text" class="form-control" id="firstName" placeholder="Nome" required>
            </div>

            <div class="input-container">
                <label for="Telefone">Telefone</label>
                <input formControlName="phone_number" type="text" class="form-control" placeholder="Telefone">
            </div>
            <div class="input-container">
                <label for="Digite Sua Senha">Digite sua senha</label>
                <div class="password">
                    <app-password-eye-button [props]="{
                        type:'password',
                        placeholder:'Senha',
                        class:'password',
                    }"formControlName="password"/>
                </div>
            </div>

            <div class="button-container">
                <button (click)="submit()" class="save-button" >Mudar</button>
                <button class="cancel-button" mat-dialog-close>Cancelar</button>
            </div>

        </form>
</mat-dialog-content>
