@font-face {
    font-family: "Inter-Bold";
    src: url("../../../../assets/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Regular";
    src: url("../../../../assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Medium";
    src: url("../../../../assets/fonts/Inter-Medium.ttf") format("truetype");
}

* {
    color: #2C3F47;
    font-size: 14px;
    font-family: "Inter-Medium";
}
.close-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}
h2 {
    font-family: "Inter-Bold";
    font-size: 20px;
    color: #000;
    margin: 0 0 0px;
}
p {
    color: #000;
    margin-top: 20px;
}

/* Modal */
.mat-typography {
    width: 750px;
    height: 450px;
    padding: 40px 5px 10px 50px;
}
.form-control{
    width:300px;
    height: 40px;
    border-radius: 5px;
    padding-left: 16px;
    border: 1px solid #2C3F47;
    color: #2C3F47;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container {
    display: flex;
    width: 330px;
    max-width: 330px;
    flex-direction: column;
    gap: 9px;
    font-size: 14px;
    font-family: "Inter-Medium";
}

.button-container {
    display: flex;
    justify-items: flex-end;
    gap: 22px;
    padding-right: 10px;
    padding-left: 100px;

}
.container-footer{
    display: flex;
    align-items: flex-end;
    margin: 0%;
}
.delete-button {

    width: 100px;
    height: 40px;
    border-radius: 10px;    
    background-color:rgb(184, 11, 11);
    color: #fff;
    font-family: "Inter-Bold";
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cancel-button {

    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    color: #316C87;
    font-family: "Inter-Bold";
    cursor: pointer;
    border: 1px solid #316C87;
}

