app-header-home {
    width: 800%;
}

app-sidebar {
    width: 100%;
}

app-sidebar.open {
    width: 20%;
}

.hidden {
    display: none;
}


.img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 13px;
    z-index: 1000;
}

.btn-side-bar {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Exemplo usando margin-left */
.push-content {
    margin-left: 250px;
    /* Largura da sidebar */
    transition: margin-left 0.3s ease;
}

/* Exemplo usando transform */
.push-content-transform {
    transform: translateX(250px);
    /* Largura da sidebar */
    transition: transform 0.3s ease;
}