@font-face {
    font-family: "Inter-SemiBold";
    src: url("../../../../../assets/fonts/Inter-SemiBold.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Inter-Regular";
    src: url("../../../../../assets/fonts/Inter-Regular.ttf") format("truetype");
  }

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4% 1%;
    padding-left: 7em;
    color: #000;
    background: #f1f1f1;
    height: 200vh;
    gap: 2em;
}

.navbar-expanded {
    padding-left: 240px; /* Añade espacio al lado izquierdo para el sidebar */
}

.title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
}

.title-container h1 {
    color: #000;
    font-family: "Inter-Regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.select-container{
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    
}
.select-container{
    color: #2C3F47;
    font-family: "Inter-SemiBold";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dashboard-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2em 2em;
    gap: 3em;

}
.dashboard-container h2{
    color: #000;
    font-family: "Inter-SemiBold";
    font-size: 20px;
    font-style: normal;
    line-height: 20px; 
}

.dashboard-container hr{
    color: #000;
}

.sections-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}



.paragraph-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    background-color: #F1F1F1;
    padding: 0em 1.5em;
    height: 134px;
}

.paragraph-container p {
    color: #000;
    font-size: 13px;
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 125% */   
}
.paragraph-container button {
    display: flex;
    height: 35px;
    padding: 12px 22px;
    justify-content: center;
    font-family: "Inter-SemiBold";
    font-weight: 800;
    align-items: center;
    width: 180px;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #2C3F47;
    flex-direction: row; 
    white-space: nowrap; 
}

.container-dados{
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 8em;
}

.container-dados ul{
    list-style: none;
    display: flex;
    gap: 2em;
}

.graphic-container{
    display: flex;
    flex-direction: column;
    gap: 4em;
    height: 100%;
    width: 100%;
    padding-bottom: 4em;
}

.graphic-container h2{
    color: #000;
    font-family: "Inter-SemiBold";
    font-size: 20px;
    font-style: normal;
    line-height: 20px; 
}

.graphic-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center; 
    gap: 25px; 
}

.graphic-section > div {
    flex: 1 1 45%; /* Hace que cada gráfico ocupe alrededor del 45% del ancho del contenedor */
    min-width: 450px; /* Asegura un tamaño mínimo para los gráficos */
    box-sizing: border-box; /* Incluye padding y border en el tamaño del elemento */
}