@font-face {
    font-family: "Inter-SemiBold";
    src: url("../../../../../assets/fonts/Inter-SemiBold.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Inter-Regular";
    src: url("../../../../../assets/fonts/Inter-Regular.ttf") format("truetype");
  }

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4% 1%;
    padding-left: 7em;
    color: #000;
    background: #f1f1f1;
    height: 200vh;
    gap: 2em;
}

.navbar-expanded {
    padding-left: 240px; /* Añade espacio al lado izquierdo para el sidebar */
}

.title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
}

.title-container h1 {
    color: #000;
    font-family: "Inter-Regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.select-container {
    display: flex; /* Usar flexbox */
    align-items: center; /* Alinear elementos al centro verticalmente */
    position: relative; /* Necesario para el posicionamiento absoluto del ul */
    color: #2C3F47;
    font-family: "Inter-SemiBold";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select-container label {
    margin-right: 10px; /* Separar label de span */
}

.select-container span {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    font-family: "Inter-Regular";
    width: 160px;
    height: 35px;
    border: 0.2px solid #757575;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-container img {
    width: 15px;
}

.select-container ul {
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #757575;
    background-color: #FFF;
    z-index: 1000;
    width: 160px; /* Ajusta el ancho según tus necesidades */
  }
  
  .select-container ul li {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 0;
    background: #D9D9D9;
  }
  
  .select-container ul li:hover {
    background-color: #9bb1bb
  }
  




.dashboard-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2em 2em;
    gap: 3em;

}
.dashboard-container h2{
    color: #000;
    font-family: "Inter-SemiBold";
    font-size: 20px;
    font-style: normal;
    line-height: 20px; 
}

.dashboard-container hr{
    color: #000;
}

.sections-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}



.paragraph-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    background-color: #F1F1F1;
    padding: 0em 1.5em;
    height: 134px;
}

.paragraph-container p {
    color: #000;
    font-size: 14px;
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 125% */   
}
.paragraph-container button {
    display: flex;
    height: 35px;
    padding: 12px 22px;
    justify-content: center;
    font-family: "Inter-SemiBold";
    font-weight: 800;
    align-items: center;
    width: 180px;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #2C3F47;
    flex-direction: row; 
    white-space: nowrap; 
}

.container-dados{
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 30%;
    padding: 2.5em 2em;
}

.container-dados ul{
    display: flex;
    gap: 2.3em;
    align-items: center;
}

.container-dados ul li::marker{
    color: #007D0D;
    font-size: 24px;
}

.container-dados span {
    color: #000;
    font-family: "Inter-SemiBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.container-envios{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container-dados p{
    color: #000;
    font-family: "Inter-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
} 

.container-envios label{
    color: #000;
    font-family: "Inter-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.graphic-container{
    display: flex;
    flex-direction: column;
    gap: 4em;
    height: 100%;
    width: 100%;
    padding-bottom: 4em;
}

.graphic-container h2{
    color: #000;
    font-family: "Inter-SemiBold";
    font-size: 20px;
    font-style: normal;
    line-height: 20px; 
}

.graphic-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center; 
    gap: 25px; 
}

.graphic-section > div {
    flex: 1 1 45%; /* Hace que cada gráfico ocupe alrededor del 45% del ancho del contenedor */
    min-width: 450px; /* Asegura un tamaño mínimo para los gráficos */
    box-sizing: border-box; /* Incluye padding y border en el tamaño del elemento */
}