<div [ngClass]="{'navbar-expanded': isNavOpen}" class="container">
    <div class="title-container">
        <h1>Dashboard</h1>
        <div class="select-container">
            <span>Visualização por:</span>
            <mat-form-field>
                <mat-select [formControl]="panelColor" panelClass="example-panel-{{panelColor.value}}">
                    <mat-option value="red">Red</mat-option>
                    <mat-option value="green">Green</mat-option>
                    <mat-option value="blue">Blue</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="dashboard-container">
        <div class="sections-container">
            <h2>Visão geral da Conta</h2>
            <section class="paragraph-container">
                <p>No momento, você está em nosso plano de teste gratuito que inclui 600 envios no total . Faça upgrade
                    através da sua conta Enviei para enviar mais de 600 e-mails ou para obter acesso a recursos pagos e
                    suporte técnico estendido.</p>
                <button>Mudar Plano</button>
            </section>
            <div class="container-dados">
                <ul>
                    <li><span>•</span>Excelente <p>Reputação</p>
                    </li>
                    <li>98.0%
                        <p>Entrega</p>
                    </li>
                </ul>
                <div>
                    <label>199 de 600</label>
                    <span>Envios de avaliação gratuita usados</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="graphic-container">
            <h2>Volume de Envios</h2>
            <div class="graphic-section">
                <div>
                    <app-line-shart />
                </div>
                <div>
                    //here
                </div>
                <div>
                    <app-indicator-chart />
                </div>
                <div>
                    <app-stacked-bar-chart />
                </div>
            </div>
        </div>
    </div>
</div>