<footer>
    <div class="columns">
      <div class="column1">
        <h2 class="Title">Links Úteis:</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Política de Privacidade</a></li>
          <li><a href="#">Termos de Uso</a></li>
        </ul>
      </div>
      <div class="column2">
        <h2 class="Title">Resources:</h2>
        <ul>
          <li><a href="#">Component 6</a></li>
          <li><a href="#">Guias</a></li>
          <li><a href="#">Inicie em 5 minutos</a></li>
        </ul>
      </div>
      <div class="column3">
        <h2 class="Title">Devs:</h2>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">API Reference</a></li>
          <li><a href="#">Videos & Podcasts</a></li>
          <li><a href="#">Webcasts</a></li>
          <li><a href="#">Libraries</a></li>
        </ul>
      </div>
    </div>
    <div class="copy">
      <p >₢ 2024 Envei. Todos os direitos reservados.</p>
    </div>
  </footer>
  