.sidebar-container {
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  width: 60px;
  padding: 20px;
}

.sidenav[opened] {
  width: 200px;
}

.mat-icon {
  margin: auto;
}
