<mat-dialog-content class="mat-typography">

  <button class="close-button" mat-dialog-close>
    <img src="../../../../assets/images/shared/close.svg" alt="close-button">
  </button>

  <form class="form-group" [formGroup]="userForm">
    <h2>Mudar senha atual</h2>

    <div class="input-container">
      <label>Digite a sua senha atual</label>
      <app-password-eye-button [props]="{
        placeholder: 'Senha',
        value: '',
        id: 'password',
      }" formControlName="currentPassword"/>
    </div>

    <div class="input-container">
      <label>Digite sua nova senha</label>
      <app-password-eye-button [props]="{
      placeholder: 'Senha',
      value:'',
      id:'newPassword',
      }" formControlName="newPassword"/>
    </div>

    <div class="input-container">
      <label>Confime sua nova senha</label>
      <app-password-eye-button [props]="{
      placeholder: 'Confirme sua Senha',
      value:'',
      id:'confirmNewPassword',
      }" formControlName="confirmNewPassword"/>
    </div>

    <div class="checklist">
      <ul>
        <li><span [ngClass]="{'correct': strengths.hasLowerCase, 'incorrect': !strengths.hasLowerCase}">•</span>
          Um caractere minúsculo
        </li>
        <li><span [ngClass]="{'correct': strengths.hasUpperCase, 'incorrect': !strengths.hasUpperCase}">•</span>
          Um caractere maiúsculo
        </li>
      </ul>
      <ul>
        <li><span [ngClass]="{'correct': strengths.hasNumber, 'incorrect': !strengths.hasNumber}">•</span>
          Um número
        </li>
        <li><span [ngClass]="{'correct': strengths.minLength, 'incorrect': !strengths.minLength}">•</span>
          Mínimo de 8 caracteres
        </li>
      </ul>
    </div>

    <div class="button-container">
      <button (click)="submit()" class="save-button">Mudar</button>
      <button type="submit" class="cancel-button" mat-dialog-close>Cancelar</button>
    </div>

  </form>
</mat-dialog-content>