@font-face {
    font-family: "Inter-Bold";
    src: url("../../../../assets/fonts/Inter-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Inter-Regular";
    src: url("../../../../assets/fonts/Inter-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Inter-Medium";
    src: url("../../../../assets/fonts/Inter-Medium.ttf") format("truetype");
  }
  
  * {
    color: #2C3F47;
    font-size: 14px;
    font-family: "Inter-Medium";
  }
  
  .close-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  
  h2 {
    font-family: "Inter-Bold";
    font-size: 20px;
    color: #000;
    margin: 0 0 0px;
  }
  
  /* Modal */
  
  .mat-typography {
    width: 560px;
    height: 553px;
     border-radius: 29px !important; /* Cambia el color de fondo según tus preferencias */
  }
  
  
  .form-control {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    padding-left: 16px;
    border: 1px solid #2C3F47;
    color: #2C3F47;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .form-group input::placeholder {
    color: #2C3F47;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-size: 14px;
    font-family: "Inter-Medium";
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 22px;
    padding-right: 10px;
  
  }
  
  .save-button {
  
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #316C87;
    color: #fff;
    font-family: "Inter-Bold";
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .cancel-button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    color: #2C3F47;
  
    font-family: "Inter-Bold";
    cursor: pointer;
    border: 1px solid #2C3F47;
  }
  
  .correct {
    color: rgb(6, 160, 6);
  }
  
  .incorrect {
    color: grey;
  }
  .checklist ul li{
    list-style-type: none;
    display: flex;
    gap: 7px;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    font-family: "Inter-Regular";
    margin-bottom: 13px;
    align-items: center;
  }

  .checklist{
    display: flex;
    gap: 20px;
    margin-top: 13px;
    
  }

  .checklist span{
    font-size: 28px;
    margin-bottom: 4px;
  }