@font-face {
  font-family: 'Inter-Bold';
  src: url('../../../../assets/fonts/Inter-Bold.ttf') format('truetype');
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 550px;
  height: 740px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 110px 31px 0px rgba(87, 87, 87, 0),
    0px 70px 28px 0px rgba(87, 87, 87, 0.02),
    0px 40px 24px 0px rgba(87, 87, 87, 0.07),
    0px 18px 18px 0px rgba(87, 87, 87, 0.12),
    0px 4px 10px 0px rgba(87, 87, 87, 0.14);
}

.title-first-part {
  color: #6c747e;
  text-align: center;
  font-family: 'Inter-Bold';
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title-second-part {
  color: #1791c8;
  font-family: 'Inter-Bold';
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

h2 {
  margin: 0%;
}