@font-face {
    font-family: "Inter-Bold";
    src: url("../../../../assets/fonts/Inter-Bold.ttf") format("truetype");
  }
  
  .input-password {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #0d0d0d;
    border-radius: 5px;
    border: 1px;
    padding: 3px 8px;
    padding-left: 0;
    text-indent: 4%;
    margin: 0 0 0 0;
    border: 1px solid #000;
  }
  .password-eye-button-container{
    position: relative;
  }
  
  .view-button-password-icon {
    position: absolute;
    top: 50%;
    right: 3%; /* Ajuste conforme necessário */
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
  }
  .input-password::placeholder {
    color: #0d0d0d;
    font-family: "Inter-Bold";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.5;
    padding-right: 10px;
    text-align: start;
  }
  