<div class="password-eye-button-container">
    <input
    *ngIf="!passwordVisible"
    type="password"
    [placeholder]="props.placeholder"
    [value]="value"
    [id]="props.id"
    [name]="props.name"
    [class]="props.class"
    [required]="props.required"
    [disabled]="props.disabled"
    (input)="onInput($event)"
    class="input-password"
  />
  <input
    *ngIf="passwordVisible"
    type="text"
    [placeholder]="props.placeholder"
    [value]="value"
    [id]="props.id"
    [name]="props.name"
    [class]="props.class"
    [required]="props.required"
    [disabled]="props.disabled"
    (input)="onInput($event)"
    class="input-password"
  />
    <button 
        class="view-button-password-icon"
        (click)="togglePasswordVisibility()"
        type="button"
    >
    <img 
        src="../../../../assets/images/shared/view-button.svg" 
        alt="view button icon">
    </button>
</div>