<div class="input-double-password-container">
    <div class="input-password-container">
        <input
          [type]="props.type"
          [placeholder]="props.placeholder"
          [value]="props.value"
          [id]="props.id"
          [name]="props.name"
          [class]="props.class"
          [required]="props.required"
          [disabled]="props.disabled"
          (input)="onPasswordInput($event)"
          class="input-password"
        />
    
        <img
          src="../../../../assets/images/shared/password.svg"
          alt="password icon"
          class="input-password-icon"
        />
        <button
          class="view-button-password-icon"
          (click)="togglePasswordVisibility('confirm')"
        >
          <img
            src="../../../../assets/images/shared/view-button.svg"
            alt="view button icon"
          />
        </button>
      </div>
      <div class="input-password-container">
        <input
            [type]="props.type"
            placeholder="Confirmar Senha"
            [id]="props.id + '-confirm'"
            [name]="props.name + '-confirm'"
            [class]="props.class"
            [required]="props.required"
            [disabled]="props.disabled"
            (input)="onPasswordInput($event)"
            class="input-password"
        />
    
        <img
          src="../../../../assets/images/shared/password.svg"
          alt="password icon"
          class="input-password-icon"
        />
        <button
          class="view-button-password-icon"
          (click)="togglePasswordVisibility('confirm')"
        >
          <img
            src="../../../../assets/images/shared/view-button.svg"
            alt="view button icon"
          />
        </button>
      </div>
    
</div>