<div class="new-password-container">
    <form class="form-container" (submit)="submit()" [formGroup]="newPasswordForm">
      <img src="assets/images/logo.svg" alt="Logo" class="logo" />
      <h2>
        <span class="title-first-part">Nova </span
        ><span class="title-second-part">Senha</span>
      </h2>
      
      <div class="form-group">
        <app-input-password
          formControlName="password"
          [props]="{
            type: 'password',
            placeholder: 'Senha',
            id: 'password',
            name: 'password',
            class: 'input',
            required: true,
            value: '',
            image: '../../../../assets/images/login/password.svg'
          }"
        />
        <app-input-confirm-password
          formControlName="confirmPassword"
          [props]="{
            type: 'password',
            placeholder: 'Confirmar senha',
            id: 'confirmPassword',
            name: 'confirmPassword',
            class: 'input-confirm-password',
            required: true,
            value: '',
            image: '../../../../assets/images/login/password.svg'
          }"
        />
      </div>  
      
  
      <app-button [props]="{ text: 'Confirmar', class: 'button' }"></app-button>
    </form>
  </div>
  
