@font-face {
  font-family: "Inter-Bold";
  src: url("../../../../assets/fonts/Inter-Bold.ttf") format("truetype");
}

.input {
  display: flex;
  width: 350px;
  max-width: 350px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #0d0d0d;
  border-radius: 10px;
  padding: 3px 8px;
  text-indent: 10%;
  border: 1.8px solid #000;
}
.input-login-container {
  position: relative;
}
.input-login-icon {
  position: absolute;
  top: 50%;
  left: 5%; /* Ajuste conforme necessário */
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.input::placeholder {
  color: #0d0d0d;
  font-family: "Inter-Bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.5;
}

.checkbox {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #d9e3f5;
  background-color: #b0b0b0;
}

@media (max-width: 414px) {
  .input {
    width: 20rem;
  }
}

@media (max-width: 400px) {
  .input {
    width: 18.75rem;
  }
}

@media (max-width: 390px) {
  .input {
    width: 17.75rem;
  }
}

@media (max-width: 375px) {
  .input {
    width: 16.75rem;
  }
}

@media (max-width: 325px) {
  .input {
    width: 15.25rem;
  }
}