<mat-dialog-content class="mat-typography">

    <button class="close-button" mat-dialog-close>
      <img src="../../../../assets/images/shared/close.svg" alt="close-button">
    </button>
  
    <form class="form-group" [formGroup]="keyForm">
      <h2>Criar Nova Key</h2>
  
      <div class="input-container">
        <label for="Nome">Nome</label>
        <input formControlName="keyName" type="text" class="form-control" id="name" required>
      </div>
  
      <div id="button-container" class="button-container">
        <button
          *ngIf="!isLoading"
          id="register-button"
          class="register-button"
          (click)="submit()"
        >
          Registrar
        </button>
        <button
          *ngIf="isLoading"
          id="register-button"
          class="register-button loading"
          disabled

          style="cursor: not-allowed;"
        >
          <div class="spinner"></div>
        </button>
      </div>
  
    </form>
  </mat-dialog-content>