@font-face {
    font-family: 'Inter-Bold';
    src: url('../../../../assets/fonts/Inter-Bold.ttf') format('truetype');
  }
  
  .button {
    display: flex;
    width: 158px;
    height: 44px;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #ffffff;
    color: #1791C8;
    font-family: 'Inter-Bold';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-color: #1791C8;
    
  }
  
  .button:hover {
    background: #0F6E9C;
    cursor: pointer;
  }