@font-face {
    font-family: 'Inter-Bold';
    src: url('../../../../assets/fonts/Inter-Bold.ttf') format('truetype');
    font-family: 'Inter-Regular';
    src: url('../../../../assets/fonts/Inter-Regular.ttf') format('truetype');
}

*{
    text-decoration: none;
    color: #2C3F47;
    font-family: 'Inter-Bold';
    font-size: 14px;
    font-style: normal;
}

.header-home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    @media (max-width:875px){
        padding: 0 2% 0 2%;
    }
}

.header-home-page > a {
    text-decoration: none;
    color: #2C3F47;
}

.hamburger-menu {
    display: none;
}

.side-bar{
    display: none;
}

@media (max-width:803px){
    .hamburger-menu {
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }
    .side-bar.open{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background-color: #fff;
        z-index: 100;
        gap: 20px;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .close-menu-icon{
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }

    .side-bar_container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .side-bar.open .side-bar_container > li {
        list-style: none;
        color: #2C3F47;
        font-size: 18px;
    }
    .side-bar_button{
        display: none;
    }
    .hamburger-menu::before {
        content: "";
    }
    
}

@media (max-width:475px){
    .side-bar_button{
        display: block;
    }
}


.second-column {
    display: flex;
    justify-content: row;
    width: 35%;
    gap: 20%;   


    @media (max-width:803px){
            display: none;
        }
    
}

.third-column {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    align-items: center;
    padding: 0 0% 0 0;
    width: 40%;

    @media (max-width : 1004px){
        width: 46%;
    }
    
    @media (max-width:803px){
        a{
            display: none;
        }
        justify-content: center;
        width: auto;
    }
    @media (max-width:475px){
        display: none;
    }
}

.third-column > a {
    text-decoration: none;
    color: #2C3F47;
}

.singInLink {
    cursor: pointer;
}