@font-face {
    font-family: 'Inter-Bold';
    src: url('../../../../assets/fonts/Inter-Bold.ttf') format('truetype');
    font-family: 'Inter-Regular';
    src: url('../../../../assets/fonts/Inter-Regular.ttf') format('truetype');
}

*{
    text-decoration: none;
    color: #2C3F47;
    font-family: 'Inter-Bold';
    font-size: 14px;
    font-style: normal;
}

.header-home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    @media (max-width:875px){
        padding: 0 2% 0 2%;
    }
}

.header-home-page > a {
    text-decoration: none;
    color: #2C3F47;
}

@media (max-width:800px){

 
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        font-size: 2rem;
        color: #FFFFFF;
    }
    
    .bar{
        height: 3px;
        width: 40px;
        background-color: #2C3F47;
    }
}

.second-column {
    display: flex;
    justify-content: row;
    width: 35%;
    gap: 20%;   


    @media (max-width:800px){
            display: none;
        }
    
}

.third-column {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    align-items: center;
    padding: 0 0% 0 0;
    width: 40%;

    @media (max-width : 1004px){
        width: 46%;
    }
    
    @media (max-width:800px){
        a{
            display: none;
        }
        justify-content: center;
        width: auto;
    }
}

.third-column > a {
    text-decoration: none;
    color: #2C3F47;
}

.singInLink {
    cursor: pointer;
}