<div>
    <div class="header-home-page">
        <div class="header-home-page_logo">
            <img src="../../../../assets/images/logo.svg" alt="logo" />
        </div>

            <div class="second-column">
                <a href="/Home" routerLinkActive="active">Home</a>
                <a routerLink="/about" href="/Resources" routerLinkActive="active">Recursos</a>
                <a routerLink="/devs" href="/Devs" routerLinkActive="active" (onClick)="onClick">Devs</a>
            </div>

            <div class="third-column">
                <a routerLink="/contact" href="/Contact" routerLinkActive="active">Contate-nos</a>
                <a routerLink="/Login" href="/login" routerLinkActive="active" (onClick)="onSignIn">Logar</a>
                <app-button-start-home-page
                    [props]="{ text: 'Inicie Gratis', disabled: false }"
                />
            </div>
    </div>
</div>