<div class="container">
    <div>
        <h2>Informações básicas</h2>
        <div class="info-basic">
            <section class="section-photo">
                <div class="container-photo">
                    <img *ngIf="userProfile.profile_photo; else defaultPhoto" [src]="userProfile.profile_photo"
                        alt="photo-profile">
                    <ng-template #defaultPhoto>
                        <img src="../../../../../../../assets/images/shared/profile-photo.svg" alt="photo-profile">
                    </ng-template>
                </div>
                <article>
                    <span>Você pode enviar sua foto a partir do seu dispositivo</span>
                    <button class="btn-upload">Upload photo</button>
                </article>
            </section>

            <section class="section-name">
                <div class="container-input">
                    <span>Nome Completo</span>
                    <input class="input-name" type="text" value={{userProfile.name}}>
                </div>
                <div class="container-input">
                    <span>Telefone</span>
                    <input class="input-phone" type="text" value={{userProfile.phone_number}}>
                </div>
                <button class="button">Mudar Dados</button>
            </section>
        </div>
    </div>
    <div class="login-content">
        <h2>Detalhes de Login</h2>
        <div class="container-login">
            <div class="container-email">
                <div class="container-input">
                    <span>Email</span>
                    <div class="input-content">
                        <input class="input" type="text" value={{userProfile.email}}>
                        <button>Mudar Email</button>
                    </div>
                </div>
                <div class="container-input">
                    <span>Password</span>
                    <div class="input-content">
                        <input class="input" type="password" value="*********************">
                        <button>Mudar Senha</button>
                    </div>
                </div>
                <div>
                    <input type="checkbox" class="checkbox-own">
                    <span>Solicitar mudança de senha com ao completar 60 dias?</span>
                </div>
            </div>
            <div class="container-input">
                <span>Email de Recuperação </span>
                <div class="input-content">
                    <input class="input" type="text" value={{userProfile.email_recovery}}>
                    <button>Mudar Email</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2>Autenticação de dois fatores</h2>
        <div>
            <mat-slide-toggle [color]="color" class="checkbox" ngModel name="acceptTerms" required></mat-slide-toggle>
            <span>Habilite a autenticação de dois fatores</span>
        </div>
    </div>
</div>