.input-search-container{
    display: flex;
    height: 44px;
    padding: 12px 16px;
    width: 312px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid var(--foundation-blue-normal-active, #033697);
}

.input-search{
    border: none;
    outline: none;
    font-size: 14px;
    font-family: "Inter-Regular";
    color: var(--foundation-blue-normal-active, #033697);
    width: 100%;
    background-color: transparent;
}