<div class="login-container">
  <form class="form-container" [formGroup]="loginForm">
    <img class="enviei-logo" src="assets/images/logo.svg" alt="Logo"/>
    <h2>
      <span class="title-first-part">Log</span><span class="title-second-part">in</span>
    </h2>
    <div class="input-container">
      <div class="form-group">
        <app-input-login [props]="{
          type: 'email',
          placeholder: 'Login',
          id: 'email',
          name: 'email',
          inputName: 'email',
          class: 'input',
          required: true,
          value: '',
        }" formControlName="email" />
      </div>
      <div class="form-group">
        <app-input-password [props]="{
            type: 'password',
            placeholder: 'Senha',
            id: 'password',
            name: 'password',
            inputName: 'password',
            class: 'input',
            required: true,
            value: '',
            image: '../../../../assets/images/shared/password.svg'
          }" formControlName="password" />
      </div>
      <div class="links-container">
        <a routerLink="/register">Novo aqui? Criar Conta</a>
        <a routerLink="/forgot-password">Esqueceu sua senha?</a>
      </div>
      <div class="checkbox-container">
        <app-input (change)="stayConnectedSelected()"
        [props]="{
          name: 'remember',
          class: 'checkbox',
          type: 'checkbox',
        }" />
        <span class="span-checkbox">Manter Conectado</span>
      </div>
    </div>
    <div class="div-button">
      <app-button  (submit)="submit()" [props]="{ text: 'Entrar', class: 'button' }"></app-button>
    </div>
  </form>
</div>