@font-face {
    font-family: 'Inter-Bold';
    src: url('../../../../assets/fonts/Inter-Bold.ttf') format('truetype');
}

.input-confirm-password {
    display: flex;
    width: 350px;
    max-width: 350px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #0d0d0d;
    border-radius: 10px;
    padding: 3px 8px;
    text-indent: 10%;
    margin: 0 0 5% 0;
    border: 1.8px solid #000;
  }
  .input-confirm-password-container{
    position: relative;
  }
  .input-password-icon {
    position: absolute;
    top: 50%;
    left: 5%; /* Ajuste conforme necessário */
    transform: translateY(-50%);
  }
  
  .view-button-password-icon{
    position: absolute;
    top: 50%;
    right: 5%; /* Ajuste conforme necessário */
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
  }
  .input-confirm-password::placeholder {
    color: #0d0d0d;
    font-family: 'Inter-Bold';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.5;

  }
  