<mat-dialog-content class="mat-typography">

  <button class="close-button" mat-dialog-close>
    <img src="../../../../assets/images/shared/close.svg" alt="close-button">
  </button>

  <form class="form-group" [formGroup]="userForm">
    <h2>Mudar Email</h2>

    <div class="input-container">
      <label for="Digitar Nome">Digitar seu novo email</label>
      <input formControlName="email" type="email" class="form-control" id="firstName" placeholder="Email" required>
    </div>

    <div class="input-container">
      <label for="Digite Sua Senha">Digite sua senha</label>
      <div class="password">
        <app-password-eye-button [props]="{
          type:'password',
          placeholder:'Senha',
        }" formControlName="password"/>
      </div>
    </div>

    <div class="button-container">
      <button (click)="submit()" class="save-button">Mudar</button>
      <button type="submit" class="cancel-button" mat-dialog-close>Cancelar</button>
    </div>

  </form>
</mat-dialog-content>
