<mat-drawer-container class="sidebar-container">
    <!-- links with sidebar closed -->
    <div class="container-button">
        <button type="button" (click)="toggleSidebar()">
            <img class="img" *ngIf="isSidebarOpen" src="/assets/shared/BackTo.svg" />
            <img class="img" *ngIf="!isSidebarOpen" src="/assets/shared/Menu.svg" />
        </button>
    </div>
    <div class="icon-container">
        <a routerLink="/account" mat-list-item routerLinkActive="active">
            <img *ngIf="!isSidebarOpen" class="icon" src="/assets/shared/Account.svg" />
        </a>
        <a routerLink="/keys" mat-list-item routerLinkActive="active">
            <img *ngIf="!isSidebarOpen" class="icon" src="/assets/shared/Key.svg" />
        </a>
        <a routerLink="/dashboard" mat-list-item routerLinkActive="active">
            <img *ngIf="!isSidebarOpen" class="icon" src="/assets/shared/Severity.svg" />
        </a>
    </div>
    <mat-drawer #drawer class="sidenav-content" mode="side" [opened]="isSidebarOpen">
        <mat-nav-list class="list-content">
            <!-- links with sidebar open -->
            <a routerLink="/account" class="link-content" mat-list-item routerLinkActive="active">
                <img class="link" *ngIf="isSidebarOpen" src="/assets/shared/Account.svg" />
                <span class="link" ngClass="span" *ngIf="isSidebarOpen">Perfil</span>
            </a>
            <a routerLink="/keys" class="link-content" mat-list-item routerLinkActive="active">
                <img class="link" *ngIf="isSidebarOpen" src="/assets/shared/Key.svg" />
                <span class="link" ngClass="span" *ngIf="isSidebarOpen">Chaves</span>
            </a>
            <a routerLink="/dashboard" class="link-content" mat-list-item routerLinkActive="active">
                <img class="link" *ngIf="isSidebarOpen" src="/assets/shared/Severity.svg" />
                <span class="link" ngClass="span" *ngIf="isSidebarOpen">Dashboard</span>
            </a>
        </mat-nav-list>
    </mat-drawer>
</mat-drawer-container>