.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #2c3f47;
  width: auto;
  max-width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.icon-container a{
  cursor: pointer;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 4em;
}

.container-button-open{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 4em;
}

.sidebar-container button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.sidenav-content-open{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  width: 200px;
  background-color: #2c3f47;
  border: none !important;
}

.list-content{
  padding: 0px 0px;
}

.sidebar-container img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-left: 13px;
  z-index: 1000;
}

.sidebar-container .link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.sidebar-container .link:hover {
  color: #ffcc00;
}

.link {
  margin-bottom: -7px !important;
}

.active {
  border-radius: 0px 50px 50px 0px;
  background: #316C87;
}
.active-open {
  border-radius: 0px 50px 50px 0px;
  background: #316C87;
}