<div class="input-password-container">
  <input
    [type]="props.type"
    [placeholder]="props.placeholder"
    [value]="props.value"
    [id]="props.id"
    [name]="props.name"
    [class]="props.class"
    [required]="props.required"
    [disabled]="props.disabled"
    [src]="props.image"
    (input)="onInput($event)"
    class="input-password"
  />

  <img
    [src]="props.image"
    alt="password icon"
    class="input-password-icon"
  />
  <button
    class="view-button-password-icon"
    (click)="togglePasswordVisibility()"
  >
    <img
      src="../../../../assets/images/shared/view-button.svg"
      alt="view button icon"
    />
  </button>
</div>
